# Minecraft
MINECRAFT_RCON_PASSWORD=change_me
MINECRAFT_OPS=your_minecraft_username
MINECRAFT_MOTD=TurtleServer Minecraft
MINECRAFT_MAX_PLAYERS=10
MINECRAFT_DIFFICULTY=normal
MINECRAFT_MODE=survival
MINECRAFT_MEMORY=4G

# Don't Starve Together
# Get your cluster token from: https://accounts.klei.com/account/game/servers?game=DontStarveTogether
DST_CLUSTER_TOKEN=your_cluster_token_here
DST_CLUSTER_NAME=Sachy & Oliver
DST_CLUSTER_PASSWORD=
DST_CLUSTER_DESCRIPTION=This server is super duper!
DST_MAX_PLAYERS=2
