[Unit]
Description=GameServers Daily Backup to MinIO

[Service]
Type=oneshot
ExecStart=%h/Servers/scripts/backup.sh
EnvironmentFile=%h/gameservers.env
